* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: raleway;
}

header{
    background-color: white;
    box-shadow: 0 2px 5px black;
    padding: 1rem 0;
}

.ul-navbar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.li-navbar{
    list-style: none;
    border: 2px black solid;
    height: 4rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.li-navbar:hover {
    background-color: black;
    color: white;
    transform: scale(1.4);
}
a{
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    color: black;
    transition: color 0s ease-in-out ;
}
li:hover a{
    color: white;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    background-color: #333;
    margin-top: auto;
}
.donate-here{
    background-color: rgba(221, 229, 229, 0.5);
    grid-area: header;
    text-align: center;
    border: solid rgb(238, 13, 13) 1px;
    max-height: 100%;
    background-repeat: no-repeat;
    align-self: center;
}

.container{
    display: grid;
    padding: 10px;
    margin:25px;
    gap: 1rem 1rem;
    grid-template-columns: 1fr .5fr .5fr;
    grid-template-rows: 17rem 28rem  10rem; 
    grid-template-areas:"header header header"
                        "main img imgtwo"
                        ". . .";
    border: solid black 1rem;
    font-size: 2.1rem;
}


.img--donate{
    grid-area: img;
    object-fit: contain;
    max-height: 100%;
    border: black solid 1px;
    box-shadow: 20px 8px 20px 10px;
}
.img--donate-below{
    grid-area: imgtwo;
    object-fit: contain;
    max-height: 100%;
    border: black solid 1px;
    box-shadow: 20px 8px 20px 10px;
}

.donate--cta{
    text-align: center;
    grid-area: main;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 1px;
}

#error{
    color: red;
}


.donate--button{
    border-radius: 5rem;
    /* height: 3rem; */
    height: 3rem;
    width: 12rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: transform 1s ease-in-out, box-shawdow 1s ease-in-out;
    cursor: pointer;
    margin: 4rem 0;
    align-self: center;
}
button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 3px ;
}


ul{
    list-style: none;
}

.logo{
    height: 4rem;
    width: auto;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.6) rotate(360deg);
}