

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
html{
  font-size: 62.5%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
    background-color: lightblue;
} 

li{
    list-style: none;
}

.logo{
    height: 2rem;

}
.family-container{
    height: 60vh;
}
.family{
    width: 100%;
    height: 100%;


}

.involved{

}

/* button {
  border-radius: 30px;
  background-color: black;
  height: 4rem;
  width: 12rem;
} */

#content-btn {
  text-decoration: none;
  color: white;
}

.products {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "p-one p-two p-three p-four"
    "p-five p-six p-seven p-eight ";
  grid-gap: 2rem;
  font-size: 1.5rem;
  margin: 3rem;
 
}

a {
  text-decoration: none;
  color: black;
 
}

.grid-img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#p-one {
  padding: 1rem;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-two {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}
#p-three {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-four {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}








 @media (max-width: 89rem) {
    html{
        font-size:  56.25%;
    }
    .family{
        height: 30%;
    }

}

@media (max-width: 50rem){
    html{
        font-size: 43.75%;
    }
    .products{
      grid-template-areas: none;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 28rem){
    html{
        font-size: 31%;
    }
    .products{
      grid-template-areas: none;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr ;
    }
    .logo{
        height: 0;
    }
    nav{
        font-size: 3rem;
    }
  

}
 
}
