* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
 body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f5f5f5;
 }
 
 header{ 
    background-color: white;
    box-shadow: 0 2px 5px black;
    padding: 1rem 0;

}
ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}


li{
    list-style: none;
    border: 2px black solid;
    height: 4rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out;

}

li:hover {
    background-color: black;
    color: white;
    transform: scale(1.4);
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    color: black;
    transition: color 0s ease-in-out ;
}

li:hover a{
    color: white;
}


.logo{
    height: 4rem;
    width: auto;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.6) rotate(360deg);
}


.family{
     border: solid black ;
     width: 100%;
     height: 40rem;
     margin: 2rem 0;
     object-fit: cover;
     border-radius: 10px;
}
main{
  max-width: 1200px;
  margin: 0 auto;

}
h1{
  font-size: 4rem;
  text-align: center;
}

.family-container p{
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

 button {
  border-radius: 30px;
  background-color: black;
  height: 4rem;
  width: 12rem;
} */

#content-btn {
  text-decoration: none;
  color: white;
}

.products {
  margin: 1rem;
  display: grid;
      grid-template-areas: none;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr ;
      grid-template-areas:
      "p-one"
      "p-two";
      grid-gap: 3rem;
      font-size: 1.5rem;
      margin: 3rem;
      
 
}

a {
  text-decoration: none;
  color: black;
 
}

.grid-img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
h3{
  font-size: 3rem;
  text-align: center;
}
p{
  font-size: 3rem;
}

#p-one {
  padding: 1rem;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-two {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}
#p-three {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#p-four {
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}





 